<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Feast Freedom</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet">
</head>

<body>
	<div align="center">
		<div class="jumbotron jumbotron-fluid bg-secondary"
			style="box-shadow: 0 0 10px black">
			<h1 style="font-family: Montserrat;" class="display-4 text-light">
				user sign up Page</h1>
		</div>
		<div class="container">
			<h1>User Sign Up Page</h1>
		</div>

		<div layout:fragment="content">
			<form class="form-signin" th:action="@{/users/signup}" method="post">
				<img class="mb-4"
					src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg"
					alt="" width="72" height="72" />
				<h1 class="h3 mb-3 font-weight-normal">Signup Here</h1>

				<label for="UserEmail" class="sr-only">Email</label> <input
					type="email" name="UserEmail" id="UserEmail" class="form-control"
					placeholder="Email" required="" /> <label for="UserPassword"
					class="sr-only">Password</label> <input type="password"
					name="UserPassword" id="UserPassword" class="form-control"
					placeholder="Password" required="" /> <label for="UserFname"
					class="sr-only">First Name</label> <input type="text"
					name="UserFname" id="UserFname" class="form-control"
					placeholder="Firstname" required="" /> <label for="UserLname"
					class="sr-only">Last Name</label> <input type="text"
					name="UserLname" id="UserLname" class="form-control"
					placeholder="Lastname" required="" />

				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
					Up</button>
			</form>
			<form class="form-signin" th:action="@{/users/login}" method="get">
				<button class="btn btn-md btn-success btn-block" type="button">Sign
					In</button>
			</form>
		</div>


	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>