<!DOCTYPE html>
<html xmlns:th="hhtps://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Create New User</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
</head>

<body>

  <div class="container-fluid">

    <div align="center">
      <h1 class="h3 mt-5 font-weight-normal"><img class="mb-4"
          src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="" width="72"
          height="72"> Create New User</h1>
      <br />

      <form action="#" th:action="@{/saveuser}" th:object="${user}" method="post">
        <table border="0" cellpadding="10">

          <tr>
            <td>First Name:</td>
            <td><input class="form-control" type="text" placeholder="John" th:field="*{UserFname}" /></td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td><input class="form-control" type="text" placeholder="Smith" th:field="*{UserLname}" /></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><input class="form-control" type="email" placeholder="abc@abc.com" th:field="*{UserEmail}" /></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input class="form-control" type="password" placeholder="password" th:field="*{UserPassword}" /></td>
          </tr>
          <tr>
            <td colspan="2"><button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button></td>
          </tr>
           <tr>
            <td colspan="2"><a href="/Feast_Freedom" class="btn btn-lg btn-success btn-block" type="button">Cancel</a></td>  


        </table>

      </form>

    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>