<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Feast Freedom</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet">
</head>

<body>
	<div align="center">
		<div class="jumbotron jumbotron-fluid bg-secondary"
			style="box-shadow: 0 0 10px black">
			<h1 style="font-family: Montserrat;" class="display-4 text-light">
				Page user gets after logging in successfully</h1>
		</div>
		<div class="container">
			<h1>Each Kitchen Will have a card rendered which user can click
				to order from</h1>
		</div>

		<div layout:fragment="content">
			<h1 th:inline="text">Hello
				[[${#httpServletRequest.remoteUser}]]!</h1>
			<h2>This is your Admin Dashboard</h2>
		</div>


	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>