<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>Place An</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <div align="center">
    <div class="jumbotron jumbotron-fluid bg-secondary" style="box-shadow: 0 0 10px black">
      <h1 style="font-family: Montserrat;" class="display-4 text-light">Place An Order
      </h1>
    </div>
    <br />
    <!-- WHEN WORKING ON WEB CONTROLLER YOU WILL HAVE TO CHANGE THYMELEAF ACTIONS AND OBJECTS!!! -->
    <!-- SAME GOES FOR ALL THYMELEAF PAGES... ONLY FRONT END DESIGN IS DONE SO "th:" MAY NOT BE CORRECT -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered table-striped table-hover" border="1" cellpadding="10"
            style="font-family: Roboto;">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Item Name</th>
                <th scope="col">Veg/Non-Veg</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="menuItem : ${listMenuItems}">
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                    <label class="custom-control-label" for="customCheck1"></label>
                  </div>
                </td>
                <td th:text="${menuItem.itemName}"></td>
                <td th:text="${menuItem.mealType}"></td>
                <td th:text="${menuItem.price}"></td>
              </tr>
            </tbody>
          </table>
          <a href="/orderconfirmation" class="btn btn-lg btn-success btn-block" type="button">Place
            Order</a>

        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>